<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.domain.mapper.GoodMapper">
	<insert id="insertOne">
		INSERT INTO
		good(
			user_id,
			date,
			<choose>
				<when test="num == 1">
					good1
				</when>
				<when test="num == 2">
					good2
				</when>
				<when test="num == 3">
					good3
				</when>
			</choose>
		)
		SELECT
			id,
			#{date},
			#{good}
		FROM
			users
		WHERE
			mail_address = #{mailAddress}
		;
	</insert>
	<select id="findAll" resultType="Good">
SELECT
    date,
    good1,
    good2,
    good3
FROM
    good
WHERE
    user_id = (
        SELECT
            id
        FROM
            users
        WHERE
            mail_address = #{mailAddress}
    )
AND NOT(
        good1 IS NULL
    AND good2 IS NULL
    AND good3 IS NULL
    )
ORDER BY
    date DESC
;
	</select>
	<select id="likeSearch" resultType="Good">
SELECT
    date,
    good1,
    good2,
    good3
FROM
    good
WHERE
    user_id = (
        SELECT
            id
        FROM
            users
        WHERE
            mail_address = #{mailAddress}
    )
AND (
        good1 LIKE '%' || #{keyword} || '%'
    OR  good2 LIKE '%' || #{keyword} || '%'
    OR  good3 LIKE '%' || #{keyword} || '%'
    )
AND NOT(
        good1 IS NULL
    AND good2 IS NULL
    AND good3 IS NULL
    )
ORDER BY
    date DESC
;
	</select>
	<select id="selectOne"
		resultType="Good">
SELECT
    date,
    good1,
    good2,
    good3
FROM
    good
WHERE
    user_id = (
        SELECT
            id
        FROM
            users
        WHERE
            mail_address = #{mailAddress}
    )
AND date = #{targetDate,
    jdbcType = DATE}
;
	</select>
	<select id="count" resultType="integer">
SELECT
    COUNT(*)
FROM
    good
WHERE
    user_id = (
        SELECT
            id
        FROM
            users
        WHERE
            mail_address = #{mailAddress}
    )
AND date = #{targetDate,
    jdbcType = DATE}
	</select>
	<update id="updateOne"
		parameterType="Good">
		UPDATE
			good
		SET
			<choose>
				<when test="num == 1">
					good1
				</when>
				<when test="num == 2">
					good2
				</when>
				<when test="num == 3">
					good3
				</when>
			</choose>
			= #{good}
		WHERE
		    user_id = (
        		SELECT
            		id
        		FROM
            		users
        		WHERE
            		mail_address = #{mailAddress}
    		)
			AND
			date = #{date}
	</update>

</mapper>