<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.domain.mapper.PasswordReissueMapper">
<select id="findOne" resultType="PasswordReissueInfo">
SELECT
	*
FROM
	password_reissue_info
WHERE
	token = #{token}
</select>
<insert id="insertOne">
INSERT INTO
	password_reissue_info
VALUES(
	#{mailAddress},
	#{token}
)
</insert>
<delete id="deleteByToken">
DELETE FROM
	password_reissue_info
WHERE
	token = #{token}
</delete>

</mapper>