<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.domain.mapper.UsersMapper">
<insert id="insertOne" parameterType="User">
INSERT INTO users(
    mail_address,
    password
)
VALUES(
    #{mailAddress},
    #{password}
)
</insert>
<select id="createUser" resultType="User">
INSERT INTO users(
    mail_address,
    password
)
SELECT
    mail_address,
    password
FROM
    tmp_user
WHERE
    mail_address = #{mailAddress}
AND token = #{token}
RETURNING *
</select>
<select id="selectOne" parameterType="string" resultType="User">
SELECT
    *
FROM
    users
WHERE
	mail_address = #{mailAddress}
</select>
<select id="isAlreadyExist" resultType="boolean">
SELECT
	COUNT(*) > 0
FROM
	users
WHERE
	mail_address = #{mailAddress}
</select>
</mapper>