<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.domain.mapper.UsersMapper">
	<insert id="insertOne" parameterType="com.example.demo.domain.model.User">
insert into users(
    id,
    mail_address,
    password,
    delete_flg,
    registered_datetime
)
values(
    '00000002',
    #{mailAddress},
    #{password},
    false,
    CURRENT_TIMESTAMP
)
;

	</insert>

</mapper>