<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
	 	<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>

    <!-- TypeAlias-->
    <typeAliases>
        <typeAlias type="com.example.demo.domain.model.TmpUser" alias="TmpUser"/>
        <typeAlias type="com.example.demo.domain.model.User" alias="User"/>
        <typeAlias type="com.example.demo.domain.model.Good" alias="Good"/>
    </typeAliases>

</configuration>