body {
	font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans",
		"Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo",
		sans-serif;
	background-color: #f5f5f5;
	font-size: 14px;
}

body, p, h1, h2, h3 {
	margin: 0;
	padding: 0;
}

header {
	height: 70px;
}

.title {
	font-family: 'Sacramento', cursive;
	font-size: 30px;
	white-space: nowrap;
	height: 100%;
	display: block;
	margin: 0 auto;
	max-width: 330px;
}

.title-char {
	margin-left: 15px;
}

.title a {
	text-decoration: none;
	color: #000;
}

.signin, .signup {
	font-family: 'Sacramento', cursive;
	padding: 20px 0;
}

.login-form {
	width: 100%;
	text-align: center;
	padding: 15px 15px;
}

.login-wrapper {
	max-width: 330px;
	margin: 0 auto;
	background-color: #fff;
}

.login .title {
	color: black;
	font-size: 20px;
	margin: 30px 0;
}

.login input[type="text"], .signupArea input[type="text"] {
	width: 100%;
	font-size: 16px;
	box-sizing: border-box;
	border: 1px solid lightgrey;
	padding: 10px 10px;
	margin-bottom: 10px;
}

.login input[type="password"], .signupArea input[type="password"] {
	width: 100%;
	font-size: 16px;
	box-sizing: border-box;
	border: 1px solid lightgrey;
	padding: 10px 10px;
	margin-bottom: 10px;
}

.login input:focus, .signupArea input:focus {
	outline: none;
}

.login p {
	text-align: right;
}

.login-btn {
	margin: 10px 0;
	width: 100%;
	font-size: 16px;
	box-sizing: border-box;
	border: 0px;
	padding: 10px 5px;
	background-color: #007bff;
	cursor: pointer;
	color: #ffffff;
}

.signup-btn {
	margin: 10px 0;
	width: 100%;
	font-size: 16px;
	box-sizing: border-box;
	border: 0px;
	padding: 10px 5px;
	background-color: #25b57d;
	cursor: pointer;
	color: #ffffff;
}

.login a, .signup a {
	color: #007bff;
}

footer {
	background-color: #fff;
	padding: 20px 0;
}