body {
  margin:0;
  font-size:14px;
}

h1,h2,h3,p,ul {
  margin:0;
  padding:0;
}

a {
  text-decoration:none;
}

li {
  list-style:none;
}


.title {
  font-family:cursive;
  font-size:36px;
  padding:20px 0;
  margin-right:auto;
  white-space: nowrap;
}

.move {
  display:flex;
}

.move .yesterday {
  margin-right:auto;
  padding-left:30px;
}

.tomorrow {
  padding-right:30px;
}

.move {
  padding-bottom:10px;
  padding-top:20px;

}

.move a {
  color: #404040;
  position:relative;
}

.move a:hover {
  opacity:0.7;
}

.yesterday:after {
  content:"";
  width:15px;
  height:15px;
  border-bottom:solid 2px #404040;
  border-left: solid 2px #404040;
  transform:rotate(45deg);
  position:absolute;
  left:5%;
  top:2px;
}

.tomorrow:after {
  content:"";
  width:15px;
  height:15px;
  border-top:solid 2px #404040;
  border-right: solid 2px #404040;
  transform:rotate(45deg);
  position:absolute;
  right:5%;
  top:2px;
}

.date {
  font-family:cursive;
  font-size:24px;
  margin:20px 0;
}

.flex-items {
  display:flex;
  align-items:center;
}

header {
  position:fixed;
  top:0px;
  left:0px;
  z-index:100;
  height:100px;
  width:100%;
  background-color: #f5f5f5;
}

.menu-btn {
  position:fixed;
  top:20px;
  right:4%;
  display:flex;
  height:60px;
  width:60px;
  justify-content: center;
  align-items: center;
  z-index:90;
  background-color: #404040;
  cursor: pointer;
}

.menu-content {
  width:100%;
  height:100%;
  position:fixed;
  top:0;
  left:100%;
  z-index:80;
  background-color:#404040;
  transition: all 0.5s;
}

.menu-content ul {
  padding:80px 4% 0;
}

.menu-content ul li  {
  border-bottom: solid 1px #ffffff;
}

.menu-content ul li a {
  display:block;
  width:100%;
  font-size:15px;
  box-sizing:border-box;
  color:#ffffff;
  padding:9px 15px 10px 0;
  position:relative;
}

.menu-content ul li a::before {
  content:"";
  width:7px;
  height:7px;
  border-top:solid 2px #ffffff;
  border-right: solid 2px #ffffff;
  transform:rotate(45deg);
  position:absolute;
  right:11px;
  top:16px;
}

.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
  content:"";
  display:block;
  height:3px;
  width:25px;
  border-radius:3px;
  background-color:#ffffff;
  position:absolute;
}

.menu-btn span:before {
  bottom: 8px;
}

.menu-btn span:after {
  top: 8px;
}

#menu-btn-check:checked ~ .menu-btn span {
  background-color:rgba(255, 255, 255, 0);
}

#menu-btn-check:checked ~ .menu-btn span::before {
  bottom:0;
  transform: rotate(45deg);
}

#menu-btn-check:checked ~ .menu-btn span::after {
  top: 0;
  transform: rotate(-45deg);
}

#menu-btn-check:checked ~ .menu-content {
  left: 0;
}

#menu-btn-check {
  display:none;
}

.header-list {
  display:none;
}

.header-list li {
  margin-left:24px;
  font-size:15px;
}

header li a {
  color:black;
}

.container {
  margin-top:100px;
}

.wrapper {
  padding:0 4%;
}

.input {
  margin:15px 0;
}

textarea {
  display: block;
  width: 100%;
  height:150px;
  outline: none;
  border-radius: 5px;
  border:1px solid #e5e5e5;
  box-sizing: border-box;
  line-height:1.6;
  padding:8px;
  background-color: #f5f5f5;
}

textarea:focus {
  outline: 0;
  box-shadow: 0 0 0 2px rgb(33, 150, 243) inset;
}

footer {
  text-align:center;
  font-size:10px;
  margin:20px 0;
}



@media screen and (min-width:768px){
  .wrapper {
    margin: 0 auto;
    max-width: 960px;
  }

  .menu-btn {
    display: none;
  }

  .header-list {
    display: block;
  }

  header ul {
    display: flex;
  }

  .input-area {
    display: flex;
    justify-content: space-between;
  }

  .input {
    width: 32%;
  }

  .input-area textarea {
    height: 400px;
  }
}
