<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<!--Bootstrapの設定-->
<link th:href="@{/webjars/bootstrap/4.1.1/css/bootstrap.min.css}"
	rel="stylesheet"></link>
<script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.1.1/js/bootstrap.min.js}"></script>
<title>Calendar</title>
</head>
<body>
	<div th:fragment="calendar_contents" class="calendar wrapper">
		<div class="cal-head">
			<div class="cal-title">
				<p th:text="${#dates.format(calDate, 'yyyy年MM月')}">2021年12月</p>
			</div>
			<div class="ym-move">
				<a id="last-year" class="btn btn-sm border"
					href="javascript:void(0)">&lt;&lt;</a> <a id="last-mon"
					class="btn btn-sm border" href="#">&lt;</a> <a id="today"
					class="btn btn-sm border" href="#">今日</a> <a id="next-mon"
					class="btn btn-sm border" href="#">&gt;</a> <a id="next-year"
					class="btn btn-sm border" href="#">&gt;&gt;</a> <input
					type="hidden" id="cal-date"
					th:value="${#dates.format(calDate, 'yyyy/MM/dd')}">
			</div>
		</div>
		<table class="table text-center">
			<thead>
				<tr>
					<td>日</td>
					<td>月</td>
					<td>火</td>
					<td>水</td>
					<td>木</td>
					<td>金</td>
					<td>土</td>
				</tr>
			</thead>
			<tbody id="calendarDays">
				<tr th:each="week : ${calendarDay}">
					<td class="holiday"><a href="#" class="calendarDay"
						th:text="${week.weekday[0]}">28</a></td>
					<td><a href="#" class="calendarDay"
						th:text="${week.weekday[1]}">29</a></td>
					<td><a href="#" class="calendarDay"
						th:text="${week.weekday[2]}">30</a></td>
					<td><a href="#" class="calendarDay"
						th:text="${week.weekday[3]}">31</a></td>
					<td><a href="#" class="calendarDay"
						th:text="${week.weekday[4]}">1</a></td>
					<td><a href="#" class="calendarDay"
						th:text="${week.weekday[5]}">2</a></td>
					<td class="holiday"><a href="#" class="calendarDay"
						th:text="${week.weekday[6]}">3</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>