<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<!--Bootstrapの設定-->
<link th:href="@{/webjars/bootstrap/4.1.1/css/bootstrap.min.css}"
  rel="stylesheet"></link>
<script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.1.1/js/bootstrap.min.js}"></script>
<title>Calendar</title>
</head>
<body>
  <div th:fragment="calendar_contents" class="calendar">
    <div class="cal-head">
      <div class="cal-title">
        <p th:text="${#temporals.format(calDate, 'yyyy年MM月')}"></p>
      </div>
      <div class="ym-move">
        <a id="last-year" class="btn btn-outline-secondary"
          href="javascript:void(0)">&lt;&lt;</a> <a id="last-mon"
          class="btn btn-outline-secondary" href="javascript:void(0)">&lt;</a>
        <a id="today" class="btn btn-outline-secondary" href="#">今日</a>
        <a id="next-mon" class="btn btn-outline-secondary"
          href="javascript:void(0)">&gt;</a> <a id="next-year"
          class="btn btn-outline-secondary" href="javascript:void(0)">&gt;&gt;</a>
        <input type="hidden" id="cal-date"
          th:value="${#temporals.format(calDate, 'yyyy/MM/dd')}">
      </div>
    </div>
    <div class="w-100">
      <div class="d-flex justify-content-between align-items-center w-100 calendar-row">
        <div class="day text-center">S</div>
        <div class="day text-center">M</div>
        <div class="day text-center">T</div>
        <div class="day text-center">W</div>
        <div class="day text-center">T</div>
        <div class="day text-center">F</div>
        <div class="day text-center">S</div>
      </div>
      <div
          th:with="lastRowNum=${#lists.size(calendarDay) == 35 ? 4 : 5}">
          <th:block th:each="r : ${#numbers.sequence(0,lastRowNum)}">
            <div class="d-flex align-items-center w-100 calendar-row">
              <th:block th:each="c : ${#numbers.sequence(0,6)}">
                  <div th:if="${calendarDay[__${r * 7 + c}__].localDate != null}" class="date" th:classappend="${calendarDay[__${r * 7 + c}__].isToday} ? 'today'">
                    <a href="#" class="calendarDay">
                      <input type="hidden" th:value="${#temporals.format(calendarDay[__${r * 7 + c}__].localDate, 'yyyy/MM/dd')}"/>
                      [[${#temporals.format(calendarDay[__${r * 7 + c}__].localDate, 'd')}]]
                    </a>
                    <div th:if="${calendarDay[__${r * 7 + c}__].isFullyPosted}" class="mark"></div>
                    <div th:if="${calendarDay[__${r * 7 + c}__].isPartlyPosted}" class="part-mark"></div>
                  </div>  
                  <div th:if="${calendarDay[__${r * 7 + c}__].localDate == null}" class="date"></div>
              </th:block>
            </div>
          </th:block>
        </div>
    </div>
    <script type="text/javascript" th:inline="javascript">
    $(function () {
      $('.calendarDay').on('click', (e) => {
        let atag = e.target;
        let date = $(atag).find('input').val();
        clickCalendarDay(date);
      });
    });
    </script>
  </div>
</body>
</html>