<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">

<link th:href="@{/webjars/bootstrap/4.1.1/css/bootstrap.min.css}"
  rel="stylesheet"></link>
<script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/1.14.1/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.1.1/js/bootstrap.min.js}"></script>
<title>Three Good Things</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
  href="https://fonts.googleapis.com/css2?family=Sacramento&display=swap"
  rel="stylesheet">
</head>
<body>
  <header class="border-bottom">
    <div class="outer flex-items header-in">
      <div class="title">
        <p>
          <a href="#">Three good things</a>
        </p>
      </div>
      <div class="hamburger-menu">
        <input type="checkbox" id="menu-btn-check"> <label
          for="menu-btn-check" class="menu-btn"><span></span></label>
        <!-- ここからメニュー -->
        <div class="menu-content">
          <ul>
            <li><a href="#" class="diaryBtn">日記</a></li>
            <li><a href="#" class="showTimeline">タイムライン</a></li>
            <li><a href="#" class="searchBtn">検索</a></li>
            <li><a href="#" id="aLogout">ログアウト</a></li>
          </ul>
        </div>
      </div>
      <div class="header-list">
        <ul>
          <li><a href="#" class="diaryBtn">日記</a></li>
          <li><a href="#" class="showTimeline">タイムライン</a></li>
          <li><a href="#" class="searchBtn">検索</a></li>
          <li><div class="dropdown">
              <a class="dropdown-toggle" id="user-dropdown"
                data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false"
                th:object="${#authentication.principal.user}"
                th:text="*{mailAddress}" href="javascript:void(0)">ユーザー</a>
              <div class="dropdown-menu" aria-labelledby="user-dropdown">
                <form th:action="@{/logout}" id="logoutForm"
                  method="post">
                  <button type="submit" class="dropdown-item">ログアウト</button>
                </form>
              </div>
            </div></li>
        </ul>
      </div>
    </div>
  </header>
  <div class="outer row bkwhite">
    <div class="main col-xs-12 col-md-7">
      <div class="diary-out">
        <div th:replace="diary :: diary_contents"></div>
      </div>
      <div class="searchMode" style="display: none;">
        <div class="input-group input-group-sm">
          <input type="text" id="search2" class="form-control"
            placeholder="キーワードを入力してください">
          <div class="input-group-append">
            <button type="button" id="searchBtn2"
              class="btn btn-outline-secondary">検索</button>
          </div>
        </div>
      </div>
      <div class="timeline-out">
        <div th:replace="timeline :: timeline_contents"></div>
      </div>
    </div>
    <div class="right-widget col-xs-12 col-md-5">
      <div class="out-cal">
        <div th:replace="calendar :: calendar_contents"></div>
      </div>
      <div class="search input-group input-group-sm">
        <input type="text" id="search1" class="form-control">
        <div class="input-group-append">
          <button type="button" id="searchBtn1"
            class="btn btn-outline-secondary">検索</button>
        </div>
      </div>
    </div>
  </div>
  <footer>
    <p>
      ©︎ Copyright 2021-2022 by Three good things. <a href="#">問い合わせ</a>
    </p>
  </footer>
  <script type="text/javascript" th:src="@{/js/dateUtil.js}"></script>
  <script type="text/javascript" th:inline="javascript">
let inum = 0;
$(".diaryBtn").on("click", function() {
	hideSlideInMenu();
	hideSearchArea();
	loadDiary(new Date());
	hideTimeline();
});

$(".searchBtn").on("click", function() {
	hideSlideInMenu();
	showSearchArea();
	hideDiary();
	hideEditArea();
	hideTimeline();
});

$(document).on("click", ".editBtn, .goodText", function() {
	inum = this.id.slice(-1);
	$(".display").hide();
	$(".move").hide();
	$("#input" + inum).show();
	$(".edit").show();
	$(".save").show();
});

$(document).on("click", '#cancel', function() {
	const date = $('#date').val();
	loadDiary(date);
});

$(document).on("click", '#save', function(e) {
	e.preventDefault();
	const good = $('#good' + inum).val();

	if (good.length > 400) {
		$(".error").find("p").text('400文字以下で入力してください。');
		$(".error").show();
		return;
	}

	$.ajax({
		url: "/register",
		type: "POST",
		dataType: "json",
		data: {
			good: good,
			date: $("#date").val(),
			num: inum,
			_csrf: $("*[name=_csrf]").val()
		}
	}).done(function(data) {
		hideEditArea();
		loadDiary($("#date").val());
		showDiary();
	}).fail(function() {
		alert("save error!");
	});
});

$(document).on("click", '.yesterday', function() {
	var date = new Date($('#date').val());
	var targetDate = setDateYesterday(date);
	loadDiary(formatDateSlash(targetDate));
});

$(document).on("click", '.tomorrow', function() {
	var date = new Date($('#date').val());
	var targetDate = setDateTomorrow(date);
	loadDiary(formatDateSlash(targetDate));
});

function hideSlideInMenu(){
	$('#menu-btn-check').prop('checked', false);
}

function hideEditArea() {
	$(".input").hide();
	$(".error").hide();
	$(".edit").hide();
}

function showDiary() {
	$(".date-move").show();
	$(".display").show();
	$(".move").show();
}

function hideDiary() {
	$(".date-move").hide();
	$(".display").hide();
	$(".move").hide();
}

function showSearchArea() {
	$(".searchMode").show();
}

function hideSearchArea() {
	$(".searchMode").hide();
}

function loadDiary(targetDate) {
	$.ajax({
		url: "/loadDiary",
		type: "GET",
		dataType: "html",
		data: {
			date: targetDate,
			_csrf: $("*[name=_csrf]").val()
		}
	}).done(function(data, textStatus, jqXHR) {
		displayDiary(data);
		displayCalendarData(new Date(targetDate));
	}).fail(function(XMLHttpRequest, textStatus, errorThrown) {
		if (XMLHttpRequest.status === 401) {
			location.href = '/login';
		}
		console.log("loadDiary error!");
	});
}

function displayDiary(data) {
	$(".diary-out").html(data);
}

let dt = null;
// イベントを登録
$(document).on('dblclick', (e) => {
	e.preventDefault();
});
$(document).on('click', '#aLogout',() => {
	$('#logoutForm').submit();
});
$(document).on('click', '#last-year', () => {
	dt = new Date($("#cal-date").val());
	dt.setFullYear(dt.getFullYear() - 1);
	displayCalendarData(dt);
});
$(document).on('click', '#last-mon', () => {
	dt = new Date($("#cal-date").val());
	dt.setMonth(dt.getMonth() - 1);
	displayCalendarData(dt);
});
$(document).on('click', '#next-mon', () => {
	dt = new Date($("#cal-date").val());
	dt.setMonth(dt.getMonth() + 1);
	displayCalendarData(dt);
});
$(document).on('click', '#next-year', () => {
	dt = new Date($("#cal-date").val());
	dt.setFullYear(dt.getFullYear() + 1);
	displayCalendarData(dt);
});
$(document).on('click', '#today', () => {
	const today = new Date();
	displayCalendarData(today);
	hideSearchArea();
	hideTimeline();
	loadDiary(today);
});
$(document).on('click', '#searchBtn1', () => {
	const keyword = $('#search1').val();
	$('#search1').val("");
	$('#search2').val(keyword);
	displaySearchMode();
	searchDiaryAjax(keyword);
});
$(document).on('click', '#searchBtn2', () => {
	const keyword = $('#search2').val();
	searchDiaryAjax(keyword);
	displaySearchMode();
});
$(document).on('keyup', '.input', () => {
	$("#count1").text($('#good1').val().length);
	$("#count2").text($('#good2').val().length);
	$("#count3").text($('#good3').val().length);
});
$('.showTimeline').on('click', () => {
	hideSlideInMenu();
	$(".diary").hide();
	showTimeline();
});

// 関数を宣言
const displayCalendarData = (date) => {
	loadCalendarData(formatDateSlash(date));
}
const clickCalendarDay = date => {
	hideSearchArea();
	hideTimeline();
	loadDiary(date);
}

const loadCalendarData = (date) => {
	$.ajax({
		url: "/loadCalendar",
		type: "GET",
		dataType: "html",
		data: {
			targetDate: date,
			_csrf: $("*[name=_csrf]").val()
		}
	}).done((data) => {
		$(".out-cal").html(data);
		date = new Date(date);
		$(".cal-title > p").text(formatMonthForDate(date));
		$("#cal-date").val(formatDateSlash(date));
	}).fail(() => {
		alert("loadCalendar error!");
	});
}

const showTimeline = () => {
	loadTimeline();
	hideSearchArea();
}

const loadTimeline = async () => {
  const timeline = await getTimelineAjax();
  displayTimeline(timeline);
}
const getTimelineAjax = () => {
  return new Promise((resolve, reject) => {
    $.ajax({
		  url: "/loadTimeline",
		  type: "GET",
		  dataType: "html",
		  data: {
			  _csrf: $("*[name=_csrf]").val()
		  }
	  }).then(
      function(result){
        resolve(result);
      },
      function(){
        reject();
      }
    );
  });
}

const displayTimeline = (data) => {
	$('.timeline-out').html(data);
}

const hideTimeline = () => {
	$('.timeline').hide();
}

const displaySearchMode = () => {
	showSearchArea();
	$(".diary").hide();
	hideTimeline();
}

const searchDiaryAjax = (keyword) => {
	$.ajax({
		url: "/searchDiary",
		type: "GET",
		dataType: "html",
		data: {
			keyword: keyword,
			_csrf: $("*[name=_csrf]").val()
		}
	}).done((data) => {
		displayTimeline(data);
	}).fail(() => {
		alert("search error!");
	});
}

  </script>
</body>
<meta th:name="_csrf" th:content="${_csrf.token}" />
<meta th:name="_csrf_header" th:content="${_csrf.headerName}" />
</html>
