<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="utf-8">

<link th:href="@{/webjars/bootstrap/4.1.1/css/bootstrap.min.css}"
	rel="stylesheet"></link>
<script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.1.1/js/bootstrap.min.js}"></script>
<title>Three Good Things</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
	<header class="border-bottom">

		<div class="outer flex-items header-in">

			<div class="title">
				<p>
					<a href="#">Three good things</a>
				</p>
			</div>
			<div class="hamburger-menu">

				<input type="checkbox" id="menu-btn-check"> <label
					for="menu-btn-check" class="menu-btn"><span></span></label>
				<!-- ここからメニュー -->
				<div class="menu-content">
					<ul>
						<li><a href="#" class="diaryBtn">日記</a></li>
						<li><a href="#">タイムライン</a></li>
						<li><a href="#" class="searchBtn">検索</a></li>
						<li><a href="#">ユーザー</a></li>
					</ul>
				</div>
			</div>
			<div class="header-list">
				<ul>
					<li><a href="#" class="diaryBtn">日記</a></li>
					<li><a href="#">タイムライン</a></li>
					<li><a href="#" class="searchBtn">検索</a></li>
					<li><a href="#">ユーザー</a></li>
				</ul>
			</div>
		</div>

	</header>
	<form name="myForm" method="post" th:action="@{/register}"
		th:object="${mainForm}">
		<div class="outer row bkwhite">
			<div class="main col-xs-12 col-md-7">
				<div class="wrapper">
					<div class="date-move">
						<div class="date">
							<p th:text="*{#dates.format(date, 'yyyy年MM月dd日')}">2021年10月30日</p>
						</div>
						<div class="move">
							<a class="yesterday btn btn-sm btn border"
								href="javascript:void(0)"><</a> <a
								class="tomorrow btn btn-sm border" href="javascript:void(0)">></a>
						</div>
						<div class="edit" style="display: none;">
							<button type="button" id="save" class="btn btn-sm btn-success">保存</button>
							<button type="button" id="cancel"
								class="btn btn-sm btn-light border ml-2">キャンセル</button>
						</div>
					</div>
					<div class="display">
						<div class="input-area">
							<p>1</p>
							<a id="edit1" class="editBtn" href="#"
								th:style="'display:' + *{(good1 == null ? 'inline-block' : 'none')}">タップして編集する</a>
							<a id="goodText1" class="goodText" href="#" th:text="*{good1}"
								th:style="'display:' + *{(good1 != null ? 'inline-block' : 'none')}"></a>
							<p>2</p>
							<a id="edit2" class="editBtn" href="#"
								th:style="'display:' + *{(good2 == null ? 'inline-block' : 'none')}">タップして編集する</a>
							<a id="goodText2" class="goodText" href="#" th:text="*{good2}"
								th:style="'display:' + *{(good2 != null ? 'inline-block' : 'none')}"></a>
							<p>3</p>
							<a id="edit3" class="editBtn" href="#"
								th:style="'display:' + *{(good3 == null ? 'inline-block' : 'none')}">タップして編集する</a>
							<a id="goodText3" class="goodText" href="#" th:text="*{good3}"
								th:style="'display:' + *{(good3 != null ? 'inline-block' : 'none')}"></a>
						</div>
					</div>
					<div class="edit">
						<div class="input" id="input1" style="display: none;">
							<p>1</p>
							<textarea class="good" th:field="*{good1}" placeholder=""></textarea>
							<p id="count1" class="text-right"
								th:text="*{good1 != null} ? *{#strings.length(good1)} : 0">0</p>
						</div>
						<div class="input" id="input2" style="display: none;">
							<p>2</p>
							<textarea class="good" th:field="*{good2}" placeholder=""></textarea>
							<p id="count2" class="text-right"
								th:text="*{good2 != null} ? *{#strings.length(good2)} : 0">0</p>
						</div>
						<div class="input" id="input3" style="display: none;">
							<p>3</p>
							<textarea class="good" th:field="*{good3}" placeholder=""></textarea>
							<p id="count3" class="text-right"
								th:text="*{good3 != null} ? *{#strings.length(good3)} : 0">0</p>
						</div>
						<input type="hidden" th:field="*{date}">
					</div>
					<div class="searchMode" style="display: none;">
						<div class="input-group input-group-sm">
							<input type="text" class="form-control"
								placeholder="キーワードを入力してください">
							<div class="input-group-append">
								<button type="button" class="btn btn-outline-secondary">検索</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="right-widget col-xs-12 col-md-5">
				<div class="calendar wrapper">
					<div class="cal-head">
						<div class="cal-title">
							<p>2021年12月</p>
						</div>
						<div class="ym-move">
							<a class="last-year btn btn-sm border" href="#"><<</a> <a
								class="last-mon btn btn-sm border" href="#"><</a> <a
								class="today btn btn-sm border" href="#">今日</a> <a
								class="next-mon btn btn-sm border" href="#">></a> <a
								class="next-year btn btn-sm border" href="#">>></a>
							<input type="hidden" id="cal-date" th:value="*{date}">
						</div>
					</div>
					<table class="table text-center">
						<thead>
							<tr>
								<td>日</td>
								<td>月</td>
								<td>火</td>
								<td>水</td>
								<td>木</td>
								<td>金</td>
								<td>土</td>
							</tr>
						</thead>
						<tbody>
							<tr th:each="week : ${calendarDay}">
								<td class="holiday"><a href="#"
									th:text="${week.weekday[0]}">28</a></td>
								<td><a href="#" th:text="${week.weekday[1]}">29</a></td>
								<td><a href="#" th:text="${week.weekday[2]}">30</a></td>
								<td><a href="#" th:text="${week.weekday[3]}">31</a></td>
								<td><a href="#" th:text="${week.weekday[4]}">1</a></td>
								<td><a href="#" th:text="${week.weekday[5]}">2</a></td>
								<td class="holiday"><a href="#"
									th:text="${week.weekday[6]}">3</a></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="wrapper wrapper-in">
					<div class="search input-group input-group-sm">
						<input type="text" class="form-control">
						<div class="input-group-append">
							<button type="button" class="btn btn-outline-secondary">検索</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
	<footer>
		<p>
			©︎ Copyright 2021-2022 by Three good things. <a href="#">問い合わせ</a>
		</p>
	</footer>
	<script type="text/javascript" th:src="@{/js/index.js}"></script>
</body>
<meta th:name="_csrf" th:content="${_csrf.token}" />
<meta th:name="_csrf_header" th:content="${_csrf.headerName}" />
</html>
