<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<link th:href="@{/webjars/bootstrap/4.1.1/css/bootstrap.min.css}"
  rel="stylesheet"></link>
<script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.1.1/js/bootstrap.min.js}"></script>
<title>ログイン｜Three Good Things</title>
<link rel="stylesheet" th:href="@{css/login.css}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
  href="https://fonts.googleapis.com/css2?family=Sacramento&display=swap"
  rel="stylesheet">
</head>
<body>
  <header class="border-bottom">
    <div class="title">
      <div class="title-in h-100 d-flex align-items-center">
        <div class="title-char">
          <p>
            <a href="#">Three good things</a>
          </p>
        </div>
      </div>
    </div>
  </header>

    <div class="wrapper login-wrapper">
      <div class="login">
        <div th:if="${loginForm}">
          <form method="post" th:action="@{/login}" id="loginForm"
            class="form-signin" th:object="${loginForm}">
            <div class="login-form">
              <div class="signin text-left content-title">
                <h2>ログイン</h2>
              </div>
              <div th:if="${param.error}" class="alert alert-danger">
                <p class="text-left">メールアドレスまたはパスワードが間違っています。</p>
              </div>
              <div th:if="${param.logout}" class="alert alert-primary">
                <p class="text-left">ログアウトしました。</p>
              </div>
              <div th:if="${msg}" class="alert alert-success">
                <p class="text-left" th:text="${msg}"></p>
              </div>
              <div th:if="${err}" class="alert alert-danger">
                <p class="text-left" th:text="${err}"></p>
              </div>
              <div class="login-input">
                <input type="text" name="mailaddress" id="mailAddress"
                  placeholder="メールアドレス">
              </div>
              <div class="login-input">
                <input type="password" name="password" id="password"
                  placeholder="パスワード">
              </div>
              <p class="text-right">
                <a th:href="@{/reissue/create?form}">パスワードを忘れた場合</a>
              </p>
              <input class="login-btn" type="submit" value="ログイン">
              <div class="signup">
                <p>
                  アカウントをお持ちでないですか？<a th:href="@{signup}">登録する</a>
                </p>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  <footer class="text-center">
    <p>©︎ Copyright 2021-2022 by Three good things.</p>
  </footer>
</body>
<meta th:name="_csrf" th:content="${_csrf.token}" />
<meta th:name="_csrf_header" th:content="${_csrf.headerName}" />
</html>
