<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>Three Good Things</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="login.css">
  </head>
  <body>
    <div class="container">
      <div class="wrapper login-wrapper">
        <div class="login-form">
          <div class="login">
            <div class="title">
              <h1>Three good things</h1>
            </div>
            <input type="text" placeholder="ユーザーネーム、メールアドレス">
            <input type="password" placeholder="パスワード">
            <p><a href="#">パスワードを忘れた場合</a></p>
            <input class="login-btn" type="submit" value="ログイン">
          </div>
          <div class="signup">
            <p>アカウントをお持ちでないですか？<a href="#">登録する</a></p>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <p>©︎ Three good things</p>
    </footer>
  </body>
</html>
